#menu-list{
display:none;
background-color:#6da4eb;
color : white;
padding:20px;
text-align: start;
justify-content:space-between;
font-family:Arial,sans-serif;
}

#menu-list.active{
  display: flex;
}